/.cxx/
/.DS_Store
/Assets/
/downloads/
/src/main/native/auto/
/src/main/native/Jolt/
/src/main/native/TestFramework/
/src/main/native/VHACD.h

# Ignore Gradle's project-specific cache directories:
/.gradle/
/buildSrc/.gradle/

# Ignore Gradle's build output directories:
/build/
/buildSrc/build/

# Ignore IDE-specific directories:
/.idea/
/.nb-gradle/
/private/

# Ignore Jolt Physics output files:
/*.jor
/per_frame_*.csv
/state_*.bin
