---
# GitHub Actions workflow for commits pushed to the jolt-jni repo - all branches

name: CI at GitHub
on: [push, workflow_dispatch]

jobs:
  Java21-Linux64_fma:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: actions/checkout@v6
      - uses: gradle/actions/setup-gradle@v5
      - uses: humbletim/setup-vulkan-sdk@v1.2.1
        with:
          vulkan-components: Vulkan-Headers, Vulkan-Loader
          vulkan-query-version: 1.4.335.0
          vulkan-use-cache: true
      - run: ulimit -a
      - run: |
          ./gradlew -Ptarget=Linux64_fma -PuseVK=yes runSmokeTestAll -x checkstyleMain -x checkstyleTest build install --console=plain
