---
# GitHub Actions workflow for commits pushed to the jolt-jni repo - all branches

name: CI at GitHub
on: [push, workflow_dispatch]

jobs:
  Java21-Linux64_fma:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: actions/checkout@v6
      - uses: gradle/actions/setup-gradle@v5
      - name: gradlew -Ptarget=Linux64_fma -PuseVK=yes -x checkstyleMain -x checkstyleTest build
        run: |
          ./gradlew -Ptarget=Linux64_fma -PuseVK=yes -x checkstyleMain -x checkstyleTest build \
            --console=plain
