---
# GitHub Actions workflow for commits pushed to the jolt-jni repo - all branches

name: CI at GitHub
on: [push, workflow_dispatch]

jobs:
  Java11-Linux:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 11
      - uses: actions/checkout@v6
      - uses: gradle/actions/setup-gradle@v5
      - name: gradlew -Pbt=Debug -Pflavor=Sp -Ptarget=Linux64 -Ptool=gcc -x checkstyleMain -x checkstyleTest build install
        if: "!startsWith(github.ref, 'refs/tags/')"
        run: |
          ./gradlew -Pbt=Debug -Pflavor=Sp -Ptarget=Linux64 -Ptool=gcc -x checkstyleMain -x checkstyleTest build install \
            --console=plain
      - if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: test-report
          path: build/reports/tests/test
      - run: tree
      - run: ls -al

  Java24-Linux:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 24
      - uses: actions/checkout@v6
      - uses: gradle/actions/setup-gradle@v5
      - uses: gradle/actions/wrapper-validation@v4
      - name: gradlew -Pbt=Release -Pflavor=Sp -Ptarget=Linux64 build install
        if: "!startsWith(github.ref, 'refs/tags/')"
        run: |
          ./gradlew -Pbt=Release -Pflavor=Sp -Ptarget=Linux64 build install \
            --console=plain
      - if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: test-report
          path: build/reports/tests/test
      - run: tree
      - run: ls -al
