---
# GitHub Actions workflow for commits pushed to the jolt-jni repo - all branches

name: CI at GitHub
on: [push, workflow_dispatch]

jobs:
  Java21-MacOSX_ARM64:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: macos-26
    steps:
      - uses: humbletim/setup-vulkan-sdk@v1.2.1
        with:
          vulkan-components: Vulkan-Headers, Vulkan-Loader
          vulkan-query-version: 1.4.341.0
          vulkan-use-cache: true
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.2.0'
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: actions/checkout@v6
      - uses: gradle/actions/setup-gradle@v5
      - name: gradlew -Pbt=Debug -Pflavor=Dp -Ptarget=MacOSX_ARM64 -PuseVK -x checkstyleMain -x checkstyleTest runSmokeTestAll build install
        if: "!startsWith(github.ref, 'refs/tags/')"
        run: |
          tree /Users/runner/work/jolt-jni/jolt-jni/VULKAN_SDK
          export VULKAN_SDK=/Users/runner/work/jolt-jni/jolt-jni/VULKAN_SDK/1.4.341.0/macOS
          ./gradlew -Pbt=Debug -Pflavor=Dp -Ptarget=MacOSX_ARM64 -PuseVK -x checkstyleMain -x checkstyleTest runSmokeTestAll build install \
            --console=plain
      - name: gradlew -Partifact=jolt-jni-MacOSX_ARM64 -Ptarget=MacOSX_ARM64 -PuseVK clean release
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          ./gradlew -Partifact=jolt-jni-MacOSX_ARM64 -Ptarget=MacOSX_ARM64 -PuseVK clean release \
            --console=plain \
            -PsigningKeyEncoded='${{ secrets.SIGNING_KEY_ENCODED }}' \
            -PsigningPassword='${{ secrets.SIGNING_PASSWORD }}' \
            -PcentralPassword='${{ secrets.CENTRAL_PASSWORD }}' \
            -PcentralUsername='${{ secrets.CENTRAL_USERNAME }}'
      - name: uploadToCentral.sh
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          bash/uploadToCentral.sh -p '${{ secrets.CENTRAL_PASSWORD }}' \
            -u '${{ secrets.CENTRAL_USERNAME }}'
